#hero{
margin-bottom: 20px;
height: 50vh;
background: url(./Unioncrop.jpg);
background-position: center;
background-size:cover ;

    
}

#about-header {
    color: #fff;
}

@media only screen and (max-width: 960px) {
#hero {
    display: none;
}
}