#repo-link{

    float: left;
}

#deployed-link{

    float: right;

}

@media only screen and (max-width: 550px) {

    #repo-link{

        float: none;
        text-align: center;
    }
    
    #deployed-link{
    
        float: none;
        text-align: center;
    
    }

    }