#particles-js{
    background-color: rgb(58, 59, 62);
    
}


@media only screen and (max-width: 375px) {
   #particles-js{
       display:none;
   }
   


   @media only screen and (min-width: 375px) {
    #particles-js{
        height:100vh;
    }
    
 
 }
}