body {

    background-color: rgb(58, 59, 62)
}

#landContainer {
    position: absolute;
    top: 25%;
    right: 25%;
    left: 25%
}

#subtitle {

    float: left;
}

#button {
    float: right;
    margin-right: 150px;
}


#contact-container {
    margin-top: 20px;
}

@media only screen and (max-width: 1024px) {

    #subtitle {

        font-size: 16px;
    }

    #button {

        margin-right: 0;
    }

}

@media only screen and (max-width: 812px) {

    .subtitle {
        font-size: 20px;

    }


    .button {
        font-size: 10px !important;
    }

    .name {
        font-size: 4rem;
    }

}

@media only screen and (max-width: 425px) {




    .name {
        font-size: 4.5rem;
        position: relative;
        bottom: 75px;

    }


    .subtitle {
        font-size: 2rem;
        text-align: center;
        position: relative;
        bottom: 50px;

    }

    #button {
        width: 100%;
    }

    .button {
        font-size: 1.5rem !important;
        width: 100% !important;
        margin-left: 50%;
    }
    #contact-container {
        margin-top: 60px;
        padding: 40px;
    }
    #form-box {
        padding: 0;
    }

}


@media only screen and (max-width: 360px) {




    .name {
        font-size: 2.5rem;
        position: relative;
        bottom: 50px;

    }


    .subtitle {
        font-size: 1.5rem;
        text-align: center;
        position: relative;
        bottom: 25px;

    }

    #button {
        width: 100%;
    }

    .button {
        font-size: 1rem !important;

    }

}