
#bar {
    background: rgb(44, 44, 53) !important;
} 
#avatar{
    margin-top: 20px;
    align-self: center;
}
#email {
color:inherit;
padding: 20px;
align-self: center;
}
#email:hover {
    color: #0000ee;

}

.navIcon{
    display: none;
}

@media only screen and (max-width:375) {
    #bar{
        max-width: 100%;
    }
}