
#bar {
    background: rgb(44, 44, 53) !important;
} 
#avatar{
    margin-top: 20px;
    align-self: center;
}
#email {
color:inherit;
padding: 20px;
align-self: center;
}
#email:hover {
    color: #0000ee;

}

